{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Package_Upload{% endblock %}

{% block css %}
     <link href="/static/css/b_upload.css" rel="stylesheet">
     <link href="/static/css/uploadbutton.css" rel="stylesheet">
    <style>
   /* 原有布局样式保留，移除所有硬编码颜色 */
   .projectdiv{
        display: flex;
        height:30px;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius:5px;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    /* 其他 .degreediv 等样式保持不变（无颜色硬编码） */
    .degreediv,.duandiv,.zhongdiv,.changdiv,.customerdiv,.phasediv,
    .leftdiv,.rightdiv,.topdiv,.bottomdiv,.zhengdiv,.fandiv {
        display: block;
        height:30px;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius:5px;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    </style>
{% endblock %}

{% block content %}
    <!-- 移除硬编码 color:white，文字颜色将由主题控制 -->
    <div>Load Excel:</div>
    <br/>
    <div style="background-color: rgba(0,0,0,0.05);height:50px;width:1150px;margin:0 auto;border-radius:10px;">
        <div class="shangchuan">
            <input type="file" name="files" id="xlsxUpload" accept=".xlsx" style="position:relative;top:10px;left:30px;"/>
            <input type="button" name="button1" id="xlsxSubmit" onclick="Upload(this)" style="background:#343957;position:relative;left:50px;top:10px;color:#fff;width:80px;text-align:center;height:32px;line-height:32px;font-size:13px;" value="上传"/>
        </div>
    </div>
    <hr/>
    <div>Add Manually:
        <div id="showResult">上传结果：<span id="showErrResult"></span></div>
    </div>
    <br/>
    <form method="post" id="myform" action="/Package/Package-upload/" enctype="multipart/form-data">
        <div style="background-color: rgba(0,0,0,0.08);height:85px;width:1150px;margin:0 auto;border-radius:10px 10px 0px 0px;">
            <div class="container-head">
                <div class="row">
                    <div class="col-md-4">客户:</div>
                    <div class="col-md-4">专案:</div>
                    <div class="col-md-4">Phase:</div>
                </div>
                <div class="row">
                    <div class="col-md-4">{{ package_upload.Customer }}</div>
                    <div class="col-md-4">{{ package_upload.Project }}</div>
                    <div class="col-md-4">{{ package_upload.Phase }}</div>
                </div>
            </div>
        </div>

        <div style="background-color: rgba(0,0,0,0.05);height:215px;width:1150px;margin:0 auto;">
            <div class="container-body">
                <div class="row">
                    <div class="col-md-12"><h5>G-value:</h5></div>
                </div>
                <div class="row">
                    <div class="col-md-3">角:</div>
                    <div class="col-md-3">短棱:</div>
                    <div class="col-md-3">中棱:</div>
                    <div class="col-md-3">长棱:</div>
                </div>
                <div class="row">
                    <div class="col-md-3">{{ package_upload.degree }}</div>
                    <div class="col-md-3">{{ package_upload.duan }}</div>
                    <div class="col-md-3">{{ package_upload.zhong }}</div>
                    <div class="col-md-3">{{ package_upload.chang }}</div>
                </div>
                <div class="row">
                    <div class="col-md-2">左面:</div>
                    <div class="col-md-2">右面:</div>
                    <div class="col-md-2">上面:</div>
                    <div class="col-md-2">底面:</div>
                    <div class="col-md-2">正面:</div>
                    <div class="col-md-2">反面:</div>
                </div>
                <div class="row">
                    <div class="col-md-2">{{ package_upload.left }}</div>
                    <div class="col-md-2">{{ package_upload.right }}</div>
                    <div class="col-md-2">{{ package_upload.top }}</div>
                    <div class="col-md-2">{{ package_upload.bottom }}</div>
                    <div class="col-md-2">{{ package_upload.zheng }}</div>
                    <div class="col-md-2">{{ package_upload.fan }}</div>
                </div>
            </div>
        </div>
        <div style="background-color: rgba(0,0,0,0.08);width:1150px;margin:0 auto;border-radius:0px 0px 10px 10px;">
            <div class="col-md-2">包装方式:</div>
            <div class="col-md-12">{{ package_upload.Pattern }}</div>
        </div>
        <div style="background-color: rgba(0,0,0,0.05);height:240px;width:1150px;margin:0 auto;border-radius:0px 0px 10px 10px;">
            <div style="position:relative;top:10px;left:10px;">
                <h5>备注:</h5><textarea name="Conclusion" style="border-radius:5px;" cols="145" rows="6"></textarea>
            </div>
            <br/>
        </div>

        <div style="background-color: rgba(0,0,0,0.1);height:80px;width:1150px;margin:0 auto;border-radius:0px 0px 10px 10px;" class="breadcrumb">
            <span>附件</span>
            <div class="col-sm-8">
                <input type="file" id="upload-file" name="myfiles" multiple="">
            </div>
        </div>
        {% csrf_token %}
        <button type="submit" id="upload1" style="background:#343957;color: #FFF;position:relative;top:10px;left:880px;width:80px;text-align:center;height:32px;line-height:32px;font-size:13px;" value="上传" name="Upload">Upload</button>
    </form>

    <!-- 弹窗信息 -->
    <div class="modal fade show" id="returnMsg" tabindex="-1" role="dialog" aria-labelledby="returnTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="returnTitle">Upload Result</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body" id="msgContent"></div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script src="/static/js/xlsx/xlsx.js"></script>
<script src="/static/js/xlsx/xlsx.core.min.js"></script>
<script src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
<script>
    function only_num(obj){
        var num = obj.value.charAt(0);
        obj.value = obj.value.replace(/[^\d\.]/g,'');
        obj.value = obj.value.replace(/^\./g,'');
        obj.value = obj.value.replace(/\.{2,}/g,'.');
        obj.value = obj.value.replace('.','$#$').replace(/\./g,'').replace('$#$','.');
        if(num == '-'){
            obj.value = '-'+obj.value;
        }
    }
</script>
<script>
var backResult=['Pass','Fail','上传数据成功','上传数据重复'];
window.onload=function(){
    var el =document.getElementById("showErrResult");
    var result={{ result }};
    console.log(backResult[result]);
    if(result==0){
        el.innerHTML=backResult[result+2];
        $("#showErrResult").css({"color":"green"});
        $("#showResult").css({"display":"block"});
        setTimeout(function () {
            $("#showResult").css({"display":"none"});
        },3000);
    }
    else if(result==1){
        el.innerHTML=backResult[result+2];
        $("#showErrResult").css({"color":"red"});
        $("#showResult").css({"display":"block"});
        alert(backResult[result+2]);
    }
}
</script>
<script src="/static/js/ImgUpload.js"></script>
{% endblock %}