{% extends 'base.html' %}
{#{% load custom_tag %}#}
{% load staticfiles %}
{% block title %}Navigations{% endblock %}
{% block css %}
    {#    <link rel="stylesheet" href="/static/css/home_zerogrid.css">#}
    {#	<link rel="stylesheet" href="/static/css/home_style.css">#}
    {#	<link rel="stylesheet" href="/static/css/home_menu.css">#}
    <style>
        /*style.css：2714中设置最后一列是right*/
        tbody tr td:last-child {
            text-align: left;
        }

        .tableAround {
            padding: 20px;
            -moz-box-shadow: 0px 0px 10px #333333;
            -webkit-box-shadow: 0px 0px 10px #333333;
            box-shadow: 0px 0px 10px #333333;
            border-radius: 10px;
            background-color: rgba(255, 255, 255, 0.1);
        }

        /* 设置行的背景色 */
        .el-table .row-bg-color {
            background-color: #f7e1b5;
        }

        /* 如果需要中空线，可以通过边框样式来实现 */
        .el-table .cell {
        }

        .el-table__header {
            table-layout: fixed;
            border-collapse: separate;
        }

        .el-table--border td, .el-table--border th, .el-table__body-wrapper .el-table--border.is-scrolling-left ~ .el-table__fixed {
            border-right: 1px solid #EBEEF5;
            border-radius: 20px;
        }

        .el-table td, .el-table th.is-leaf {
            border-bottom: 10px solid #EBEEF5;
        }

        /* 最后一个单元格的右边界不显示 */
        .el-table .cell:last-child {
            border-right: none;
        }

        .table > thead > tr > th {
            border-bottom: 1px solid #e7e7e7;
            font-weight: 600;
            border-top: 0;
            color: #FFFFFF;
        }

        .el-button--warning.is-plain {
            color: #E6A23C;
            background: #fdf6ec;
            border-color: #f5dab1;
            font-size: 12px;
        }

        /*butoon 内容转换*/
        .wrap-text {
            white-space: normal;
            word-break: break-all;
            height: 40px;
            padding: 10px 20px; /* 根据需要调整内边距以保持按钮的点击区域大小 */
        }

        .my-table .el-table__row {
            height: 133px; /* 单元格的高度 */
        }
    </style>
{% endblock %}
{% block content1 %}
    <div class="row" style="height: 30px">
        <div class="col-lg-6 p-r-0 title-margin-right" style="height: 100%">
            <div class="page-header" style="height: 100%;margin: 0.2px">
                <div class="page-title" style="height: 100%">
                    <h1 style="color: #FFF;height: 100%;padding: 1px">Hello {{ request.session.user_name }}, Welcome
                        Here</h1>
                </div>
            </div>
        </div>
        <!-- /# column -->
        <div class="col-lg-5 p-l-0 title-margin-left" style="height: 100%">
            <div class="page-header" style="height: 100%;margin: 0.2px">
                <div class="page-title" style="height: 100%">
                    <ol class="breadcrumb" style="height: 100%;padding: 1px">
                        <a style="color: #FFF;padding: 1px;display: inline" href="/Navigations/">Category</a>
                        <a style="color: #FFF;padding: 1px;display: inline" href="/Navigations_Category/">/Systems</a>
                        <a style="color: #FFF;padding: 1px;display: inline" href="#">{{ weizhi }}</a>
                        {% comment %}<li class="breadcrumb-item active" style="color: #FFF"></li>{% endcomment %}
                    </ol>
                </div>
            </div>
        </div>
        <!-- /# column -->
    </div>
{% endblock %}
{% block content %}

    <div id="app" {% comment %}v-pre{% endcomment %}>

        <div class="tableAround" v-cloak>

            <span>
            <el-table :data="gridData" border height="500" style="width: 100%"
                      class="my-table"
                      row-class-name="row-bg-color">
                <el-table-column property="name1" :label="this.Sysname" min-width="16%">
                    <template scope="scope">
                        <div slot="reference" class="name-wrapper" style="text-align: center">
                              <a :href="scope.row.url1" target="_blank"
                                 style="text-decoration:underline;color:blue;">
                            <el-button
                                    :style="{width: '170px', height: '100px'}"
                                    class="wrap-text"
                                    v-if="scope.row.name1"
                                    type="warning"
                                    plain
                            >
                                      ${ scope.row.name1 }</el-button>
                                  </a>
                              </div>
                    </template>
                </el-table-column>
                <el-table-column property="name2" label="" min-width="16%">
                    <template scope="scope">
                        <div slot="reference" class="name-wrapper" style="text-align: center;">
                              <a :href="scope.row.url2" target="_blank"
                                 style="text-decoration:underline;color:blue;">
                            <el-button
                                    :style="{width: '170px', height: '100px'}"
                                    class="wrap-text"
                                    v-if="scope.row.name2"
                                    type="warning"
                                    plain
                            >
                                      ${ scope.row.name2 }</el-button>
                                  </a>
                              </div>
                    </template>
                </el-table-column>
                <el-table-column property="name3" label="" min-width="16%">
                    <template scope="scope">
                        <div slot="reference" class="name-wrapper" style="text-align: center">
                              <a :href="scope.row.url3" target="_blank"
                                 style="text-decoration:underline;color:blue;">
                            <el-button
                                    :style="{width: '170px', height: '100px'}"
                                    class="wrap-text"
                                    v-if="scope.row.name3"
                                    type="warning"
                                    plain
                            >
                                      ${ scope.row.name3 }</el-button>
                                  </a>
                              </div>
                    </template>
                </el-table-column>
                <el-table-column property="name4" label="" min-width="16%">
                    <template scope="scope">
                        <div slot="reference" class="name-wrapper" style="text-align: center">
                              <a :href="scope.row.url4" target="_blank"
                                 style="text-decoration:underline;color:blue;">
                            <el-button
                                    :style="{width: '170px', height: '100px'}"
                                    class="wrap-text"
                                    v-if="scope.row.name4"
                                    type="warning"
                                    plain
                            >
                                      ${ scope.row.name4 }</el-button>
                                  </a>
                              </div>
                    </template>
                </el-table-column>
                {% comment %}<el-table-column property="name5" label="" min-width="16%">
                    <template scope="scope">
                        <div slot="reference" class="name-wrapper" style="text-align: center">
                              <a :href="scope.row.url5" target="_blank"
                                 style="text-decoration:underline;color:blue;">
                            <el-button
                                    :style="{width: '170px', height: '150px'}"
                                    class="wrap-text"
                                    v-if="scope.row.name5"
                                    type="warning"
                                    plain
                            >
                                      ${ scope.row.name5 }</el-button>
                                  </a>
                              </div>
                    </template>
                </el-table-column>{% endcomment %}
            </el-table>
            </span>
        </div>
    </div>
{% endblock %}
{% block scripts %}


    <script src="/static/js/lib/calendar-2/moment.latest.min.js"></script>
    <!-- scripit init-->
    <script src="/static/js/lib/calendar-2/semantic.ui.min.js"></script>
    <!-- scripit init-->
    <script src="/static/js/lib/calendar-2/prism.min.js"></script>
    <!-- scripit init-->
    <script src="/static/js/lib/calendar-2/pignose.calendar.min.js"></script>
    <!-- scripit init-->
    <script src="/static/js/lib/calendar-2/pignose.init.js"></script>
    <!-- scripit init-->
    <script src="/static/js/lib/bootstrap.min.js"></script>
    <script src="/static/js/scripts.js"></script>
    <script src="/static/js/es6/polyfill.min.js"></script>
    <script src="/static/js/es6/babel.min.js"></script>
    <script src="/static/js/axios.min.js"></script>
    <script src="/static/js/vue.min.js"></script>
    <script src="/static/js/qs.js"></script>
    <script src="/static/js/Element/table.js"></script>
    <script src="/static/js/Element/main.js"></script>
    <script src="/static/js/Element/input.js"></script>
    <script src="/static/js/Element/table-column.js"></script>
    <script src="/static/js/Element/icon.js"></script>
    <script src="/static/js/Element/index.js"></script>
    <script src="/static/js/Element/image.js"></script>
    <script src="/static/js/Element/message.js"></script>
    {#<script src="/static/js/vue-router.min.js"></script>#}
    {% comment %}<script src="/static/js/vue-router.js"></script>{% endcomment %}
    <script type="text/babel">
        new Vue({
            el: "#app",
            delimiters: ['${', '}'],
            data() {
                return {
                    Sysname: '{{ name }}',
                    gridData: [
                        {
                            name: '',
                            Comment: "",
                            LNVname: '',
                            LNVurl: '',
                            A31name: "",
                            A31url: "",
                            A32name: "",
                            A32url: "",
                            ABOname: '',
                            ABOurl: '',
                            CQT88name: "",
                            CQT88url: "",
                            A39name: "",
                            A39url: "",
                        },
                    ],
                }
            },
            mounted() {
                console.log(this.Sysname);
                this.getdata("first")
            },
            methods: {
                getdata: function (e) {
                    let data = {
                        "isGetData": e,
                        'Sysname': this.Sysname,
                        "csrfmiddlewaretoken": $("[name='csrfmiddlewaretoken']").val()
                    };
                    axios.post("/Navigations_system/", Qs.stringify(data), {
                        headers: {'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8'}
                    }).then((res) => {
                        this.gridData = res.data.gridData;
                    });
                },
            }
        })
    </script>
{% endblock %}
