{% extends 'base.html' %}
{#{% load custom_tag %}#}
{% load staticfiles %}
{% block title %}Category{% endblock %}
{% block css %}
    {#    <link rel="stylesheet" href="/static/css/home_zerogrid.css">#}
    {#	<link rel="stylesheet" href="/static/css/home_style.css">#}
    {#	<link rel="stylesheet" href="/static/css/home_menu.css">#}
    <style>
        /*style.css：2714中设置最后一列是right*/
        tbody tr td:last-child {
            text-align: left;
        }

        .tableAround {
            padding: 20px;
            -moz-box-shadow: 0px 0px 10px #333333;
            -webkit-box-shadow: 0px 0px 10px #333333;
            box-shadow: 0px 0px 10px #333333;
            border-radius: 10px;
            background-color: rgba(255, 255, 255, 0.1);
        }

        .my-table {
            background-image: url("/static/src/hero.jpg"); /* 替换为你的图片路径 */
            background-size: cover; /* 背景图片覆盖整个表格 */
            background-repeat: no-repeat; /* 背景图片不重复 */
            background-position: center; /* 背景图片居中 */
        }

        /* 设置行的背景色 */
        .el-table .row-bg-color {
        {% comment %}background-color: #f7e1b5;{% endcomment %}
            background-color: rgba(255, 255, 255, 0);
        }
        .el-table th, .el-table tr {
            /* background-color: #FFF; */
            background-color: rgba(255,255,255,0);
        }


        /* 如果需要中空线，可以通过边框样式来实现 */
        .el-table .cell {
        }

        {% comment %}.el-table__header {
            table-layout: fixed;
            border-collapse: separate;
        }{% endcomment %}

        .el-table--border td, .el-table--border th, .el-table__body-wrapper .el-table--border.is-scrolling-left ~ .el-table__fixed {
            border-right: 1px solid #EBEEF5;
            {#border-radius: 20px;#}
        }

        .el-table td, .el-table th.is-leaf {
            {#border-bottom: 10px solid #EBEEF5;#}

        }

        /* 最后一个单元格的右边界不显示 */
        .el-table .cell:last-child {
            border-right: none;
        }

        {% comment %}.table > thead > tr > th {
            border-bottom: 1px solid #e7e7e7;
            font-weight: 600;
            border-top: 0;
            color: #FFFFFF;
        }{% endcomment %}

        /*朴素按钮的样式*/
        .el-button--warning.is-plain {
            color: #E6A23C;
            background: #fdf6ec;
            border-color: #f5dab1;
            font-size: 22px;
        }

        /*正常按钮的样式*/
        .el-button--warning {
            color: #FFF;
            background-color: #E6A23C;
            font-size: 22px;
            border-color: #FFFFFF;
        }

        .wrap-text:hover {
          background-image: url("/static/images/c1.jpg");
          color: #fff; /* 悬浮时的文字颜色 */
            font-size: 20px;
        }

        /*butoon 内容转换*/
        @font-face {
            font-family: "MicrosoftvistaKaiti";
            font-weight: normal;
            font-style: normal;
            src: url("/static/fonts/microsoftfont/MicrosoftvistaKaiti.ttf") format('truetype');
        }

        .wrap-text {
            border-color: rgba(255,255,255,0.0);
            background-color: rgba(255,255,255,0.7) !important;
            color: #303231;
            font-family: 'MicrosoftvistaKaiti', sans-serif;
            font-size: 26px;
            white-space: normal;
            word-break: break-all;
            height: 40px;
            padding: 10px 20px; /* 根据需要调整内边距以保持按钮的点击区域大小 */
        }
        /* 英文字体样式 */
          .wrap-text .eng-font {
            font-family: 'Arial', sans-serif;
          }

        .my-table .el-table__row {
            height: 160px; /* 单元格的高度 */
        }
        /* 去掉鼠标悬浮效果 */
        .my-table tbody tr:hover > td {
          background-color: transparent !important
        }
    </style>
{% endblock %}

{% block content1 %}
    <div class="row" style="height: 30px">
        <div class="col-lg-6 p-r-0 title-margin-right" style="height: 100%">
            <div class="page-header" style="height: 100%;margin: 0.2px">
                <div class="page-title" style="height: 100%">
                    <h1 style="color: #FFF;height: 100%;padding: 1px">Hello {{ request.session.user_name }}, Welcome
                        Here</h1>
                </div>
            </div>
        </div>
        <!-- /# column -->
        <div class="col-lg-5 p-l-0 title-margin-left" style="height: 100%">
            <div class="page-header" style="height: 100%;margin: 0.2px">
                <div class="page-title" style="height: 100%">
                    <ol class="breadcrumb" style="height: 100%;padding: 1px">
                        <li class="breadcrumb-item">
                            <a style="color: #FFF;padding: 1px;display: inline" href="/Navigations/">Category</a>
                            <a style="color: #FFF;padding: 1px;display: inline" href="#">{{ weizhi }}</a>
                        </li>
                        {% comment %}<li class="breadcrumb-item active" style="color: #FFF"></li>{% endcomment %}
                    </ol>
                </div>
            </div>
        </div>
        <!-- /# column -->
    </div>
{% endblock %}
{% block content %}

    <div id="app" {% comment %}v-pre{% endcomment %}>

        <div class="tableAround" v-cloak>

            <span>
            <el-table :data="gridData_Category"
                    {% comment %}border{% endcomment %}
                      class="my-table"

                      style="width: 100%"
                      row-class-name="row-bg-color">
                <el-table-column property="name" :label="judgeCatogyname()" min-width="16%">
                    <template scope="scope">
                        {% comment %}<el-popover trigger="hover" placement="top">
                          <p>${ scope.row.Comment }</p>{% endcomment %}
                          {% comment %}<p>住址: ${ scope.row.address }</p>{% endcomment %}
                          <div slot="reference" class="name-wrapper" style="text-align: center">
                              {% comment %}<a :href="scope.row.address" target="_blank"
                                 style="text-decoration:underline;color:blue;">{% endcomment %}
                                  {% comment %}<el-tag size="medium">${ scope.row.name2 }</el-tag>{% endcomment %}
                                  <el-button
                                          :style="{backgroundColor: !scope.row.url1 ? 'rgba(255,255,255,0)' : 'rgba(255,255,255,0.3)',width: '70%', height: '120px'}"
                                          class="wrap-text"
                                          v-if="scope.row.name"
                                          type="warning"
                                          {% comment %}plain{% endcomment %}
                                          @click="fetchData(scope.row.Key)"
                                  >
                                      ${ scope.row.name }</el-button>
                          </div>
                        {% comment %}</el-popover>{% endcomment %}
                    </template>
                </el-table-column>
                <el-table-column property="name2" label="" min-width="16%">
                    <template scope="scope">
                        {% comment %}<el-popover trigger="hover" placement="top">
                          <p>${ scope.row.Comment2 }</p>{% endcomment %}
                          {% comment %}<p>住址: ${ scope.row.address2 }</p>{% endcomment %}
                          <div slot="reference" class="name-wrapper" style="text-align: center">
                              {% comment %}<a :href="scope.row.address" target="_blank"
                                 style="text-decoration:underline;color:blue;">{% endcomment %}
                            {% comment %}<el-tag size="medium">${ scope.row.name2 }</el-tag>{% endcomment %}
                            <el-button
                                    :style="{backgroundColor: !scope.row.url1 ? 'rgba(255,255,255,0)' : 'rgba(255,255,255,0.3)',width: '70%', height: '120px'}"
                                    class="wrap-text"
                                    v-if="scope.row.name2"
                                    type="warning"
                                    {% comment %}plain{% endcomment %}
                                    @click="fetchData(scope.row.Key2)"
                            >
                                      ${ scope.row.name2 }</el-button>
                              </a>
                          </div>
                        {% comment %}</el-popover>{% endcomment %}
                    </template>
                </el-table-column>
                <el-table-column property="name3" label="" min-width="16%">
                    <template scope="scope">
                        {% comment %}<el-popover trigger="hover" placement="top">
                          <p>${ scope.row.Comment3 }</p>{% endcomment %}
                          <div slot="reference" class="name-wrapper" style="text-align: center">
                              {% comment %}<a :href="scope.row.address3" target="_blank"
                                 style="text-decoration:underline;color:blue;">{% endcomment %}
                            <el-button
                                    :style="{backgroundColor: !scope.row.url1 ? 'rgba(255,255,255,0)' : 'rgba(255,255,255,0.3)',width: '70%', height: '120px'}"
                                    class="wrap-text"
                                    v-if="scope.row.name3"
                                    type="warning"
                                    {% comment %}plain{% endcomment %}
                                    @click="fetchData(scope.row.Key3)"
                            >
                                      ${ scope.row.name3 }</el-button>
                              </a>
                          </div>
                        {% comment %}</el-popover>{% endcomment %}
                    </template>
                </el-table-column>
                <el-table-column property="name4" label="" min-width="16%">
                    <template scope="scope">
                        {% comment %}<el-popover trigger="hover" placement="top">
                          <p>${ scope.row.Comment4 }</p>{% endcomment %}
                          <div slot="reference" class="name-wrapper" style="text-align: center">
                              {% comment %}<a :href="scope.row.address4" target="_blank"
                                 style="text-decoration:underline;color:blue;">{% endcomment %}
                            <el-button
                                    :style="{backgroundColor: !scope.row.url1 ? 'rgba(255,255,255,0)' : 'rgba(255,255,255,0.3)',width: '70%', height: '120px'}"
                                    class="wrap-text"
                                    v-if="scope.row.name4"
                                    type="warning"
                                    {% comment %}plain{% endcomment %}
                                    @click="fetchData(scope.row.Key4)"
                            >
                                      ${ scope.row.name4 }</el-button>
                              </a>
                          </div>
                        {% comment %}</el-popover>{% endcomment %}
                    </template>
                </el-table-column>
                {% comment %}<el-table-column property="name5" label="" min-width="16%">
                    <template scope="scope">
                        <el-popover trigger="hover" placement="top">
                          <p>${ scope.row.Comment5 }</p>
                          <div slot="reference" class="name-wrapper" style="text-align: center">
                              <a :href="scope.row.address5" target="_blank"
                                 style="text-decoration:underline;color:blue;">
                            <el-button
                                    :style="{width: '170px', height: '150px'}"
                                    class="wrap-text"
                                    v-if="scope.row.name5"
                                    type="warning"
                                    plain
                                    @click="fetchData(scope.row.name5)"
                            >
                                      ${ scope.row.name5 }</el-button>
                              </a>
                          </div>
                        </el-popover>
                    </template>
                </el-table-column>{% endcomment %}
                {% comment %}<el-table-column width="120" label="修改" fixed="right">
                  <template slot-scope="scope">
                      <el-button type="text" size="small" @click="edit(scope.row+scrollArray[0])">編輯</el-button>
                      </template>
              </el-table-column>{% endcomment %}
            </el-table>
            </span>
        </div>
    </div>
{% endblock %}
{% block scripts %}


    <script src="/static/js/lib/calendar-2/moment.latest.min.js"></script>
    <!-- scripit init-->
    <script src="/static/js/lib/calendar-2/semantic.ui.min.js"></script>
    <!-- scripit init-->
    <script src="/static/js/lib/calendar-2/prism.min.js"></script>
    <!-- scripit init-->
    <script src="/static/js/lib/calendar-2/pignose.calendar.min.js"></script>
    <!-- scripit init-->
    <script src="/static/js/lib/calendar-2/pignose.init.js"></script>
    <!-- scripit init-->
    <script src="/static/js/lib/bootstrap.min.js"></script>
    <script src="/static/js/scripts.js"></script>
    <script src="/static/js/es6/polyfill.min.js"></script>
    <script src="/static/js/es6/babel.min.js"></script>
    <script src="/static/js/axios.min.js"></script>
    <script src="/static/js/vue.min.js"></script>
    <script src="/static/js/qs.js"></script>
    <script src="/static/js/Element/table.js"></script>
    <script src="/static/js/Element/main.js"></script>
    <script src="/static/js/Element/input.js"></script>
    <script src="/static/js/Element/table-column.js"></script>
    <script src="/static/js/Element/icon.js"></script>
    <script src="/static/js/Element/index.js"></script>
    <script src="/static/js/Element/image.js"></script>
    <script src="/static/js/Element/message.js"></script>
    {#<script src="/static/js/vue-router.min.js"></script>#}
    {% comment %}<script src="/static/js/vue-router.js"></script>{% endcomment %}
    <script type="text/babel">
        new Vue({
            el: "#app",
            delimiters: ['${', '}'],
            data() {
                return {
                    {% comment %}view render 返回的local有包含特殊字符的变量，可以使用模板标签{% autoescape off %}来关闭自动转义功能。{% endcomment %}
                    {% autoescape off %}
                        Categoryname: '{{ Category }}',
                    {% endautoescape %}
                    table: false,
                    Navigations_Category_name: '',
                    dialog: false,
                    loading: false,
                    drawer: false,
                    gridData_Category: [{
                        name: '',
                        address: "",
                        Comment: "",
                        name2: '',
                        address2: "",
                        Comment2: "",
                        name3: '',
                        address3: "",
                        Comment3: "",
                        name4: '',
                        address4: "",
                        Comment4: "",
                        name5: '',
                        address5: "",
                        Comment5: "",
                    }, {
                        name: '',
                        address: '',
                        name2: '',
                        address2: "",
                        name3: '',
                        {#address3: "/MQM/MQM_search/",#}
                        Comment3: "",
                        name4: '',
                        {#address4: "/MQM/MQM_search/",#}
                        Comment4: "",
                        name5: '',
                        {#address5: "/MQM/MQM_search/",#}
                        Comment5: "",
                    },
                    ],
                }
            },
            mounted() {
                this.getdata("first")
            },
            methods: {
                getdata: function (e) {
                    let data = {
                        "isGetData": e,
                        'Categoryname': this.Categoryname,
                        "csrfmiddlewaretoken": $("[name='csrfmiddlewaretoken']").val()
                    };
                    axios.post("/Navigations_Category/", Qs.stringify(data), {
                        headers: {'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8'}
                    }).then((res) => {
                        this.gridData_Category = res.data.gridData_Category;
                        this.Navigations_Category_name = res.data.Navigations_Category_name;
                    });
                },
                fetchData(param) {
                    console.log(param);
                    axios.get(`/Navigations_system/${param}/`)
                        .then(response => {
                            // 处理响应数据
                            window.location.href = "/Navigations_system/" + param + '/';

                            // 当前页面不会关闭，新页面会在新标签页中打开
                            //window.open("/Navigations_system/" + param + '/', '_blank');
                            console.log(response.data);
                        })
                        .catch(error => {
                            // 处理错误情况
                            console.error(error);
                        });
                },
                judgeCatogyname() {
                    if (this.Categoryname) {
                        return this.Categoryname;
                    } else {
                        return this.Navigations_Category_name;
                    }
                },
            },
        })
    </script>
{% endblock %}
