{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}CommonDevice_edit{% endblock %}
{% block css %}
<link rel="stylesheet" href="/static/css/index.css">
<style>
.el-table th .gutter{
    display: table-cell!important;
}

.transfer-footer {
    margin-left: 20px;
    padding: 6px 5px;
}

label{
    color:white;
}

 .selectMsg{
     font-size:16px;
      padding: 15px;
      display: flex;
      flex-wrap: wrap;
  }

  .selectMsg label{
      font-weight: 800;
      margin-right: 10px;
      color:aliceblue;
  }

  .customerContent,.departmentContent,.lessonContent,.groupemployeesContent{
     margin-left: 20px;
  }

.inputError{
    text-align: center;
    color: crimson;
    background-color: beige;
    width: 50%;
    margin-left: 80px;
    margin-top: 20px;
    position: relative;
}

    /*.el-table .cell {
      white-space: pre-line;
      text-align: left;
    }

     */

  .inputError:before{
    display:block;
    content:'';
    border-width:8px 8px 8px 8px;
    border-style:solid;
    border-color:transparent transparent beige transparent;

    /* 定位 */
    position:absolute;
    left:50%;
    top:-16px;
}
  .fileUploadContent{
    display: inline-flex;
    display: -webkit-inline-flex;
}
  .fileUploadContent label{
    display: inline-block;
    word-break: keep-all;
    line-height: 30px;
}
.el-checkbox__label{
    font-size: 18px;
}
 .fileUploadContent{
    padding-left: 15px;
    margin-bottom: 10px;
  }
  .inputPackage{
    background: #2980b9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgb(41, 128, 185), rgb(109, 213, 250)); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgb(41, 128, 185), rgb(109, 213, 250)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: block;
    position: relative;
    border-radius: 5px;
    margin-right: 10px;
  }
  .inputPackage span{
    position: absolute;
    line-height: 100%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    color: aliceblue;
  }
  .fileUploadContent .showFileName{
     line-height: 40px;
     margin-left: 20px;
     font-size: 18px;
     color: aliceblue;
   }
  .inputPackage input{
      opacity: 0;
      width: 100%;
      height: 100%;
  }
 .selectItem{
    font-size: 20px;
    font-weight: bold;
    color: aliceblue;
}
  .tableAround{
    padding: 20px;
    -moz-box-shadow: 0px 0px 10px #333333;
    -webkit-box-shadow: 0px 0px 10px #333333;
    box-shadow: 0px 0px 10px #333333;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.1);
}
.el-pagination__total,.el-pagination__jump{
        color:white;
    }
.gutter{
    display:block!important;
    width:17px!important;
}

[v-cloak]{
    display: none;
}

#sh {
    font-size:18px;
    font-family:微软雅黑;
    border: 2px solid #9f9ca1;
}

#sh::-webkit-input-placeholder{
        color:#2f97a8;
    font-family:微软雅黑;
}
#sh::-moz-placeholder{
        color:#2f97a8;
    font-family:微软雅黑;
}
#sh:-ms-input-placeholder{
        color:#2f97a8;
    font-family:微软雅黑;
}

.transfer-footer {
    margin-left: 20px;
    padding: 6px 5px;
  }
</style>
{% endblock %}
{% block content %}
<div id="app">
      <!--搜索框-->
    <div class="selectMsg" >

           <div class="customerContent">
                 <label for="customer">大项</label>
                 <select  ref="Category"  v-model="category1" style="height:40px;width:150px;border-radius:5px 5px 5px 5px;">
                    <option v-for="(item,key,index) in categoryOptions" >${ item }</option>
                 </select>
           </div>

           <div class="customerContent">
               <label style="font-size: 16px;font-weight: bold;margin-left: 15px;" for="Owner">负责人</label>
                 <el-autocomplete
                          class="inline-input"
                          v-model="Owner"
                          ref="Owner"
                          :fetch-suggestions="querySearch"
                          placeholder="请输入负责人"
                          @select="handleSelect"
                        >
                     <template slot-scope="{ item }">
                         <div style="text-align: center">${ item.value }&nbsp;(${ item.number })</div>
                     </template>
                 </el-autocomplete>
           </div>

           <div style="margin-left: 100px;">
                 <el-button :loading="elbuttonloading" @click="find" v-cloak type="primary" style="height:40px">搜索</el-button>
                 <el-button  @click="handleAdd" type="success" >Add</el-button>
{#                 <el-button  @click="AddInfo" type="success" >Edit</el-button>#}
                 <el-button @click="exportExcel"  type="info" v-cloak style="height:40px">導出</el-button>
{#                     <el-button  type="danger" v-if="uploadpermission===1" v-cloak @click="addData" style="margin-left: 20px;">Upload</el-button>#}
{#                 <el-button @click="deleteData()" type="danger" v-if="permission===1" v-cloak style="margin-left: 20px;width: 80px;">刪除</el-button>#}
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
{#                 <a href="/static/src/modelfiles/PersonInfo.xlsx" style="color: orange;font-size: 16px">模板下载<img src="/static/src/back/document_save_2_24px_539656_easyicon.net.png" alt="..."></a>#}
           </div>

    </div>

{#    <div v-cloak class="fileUploadContent" v-if="permission===1">#}
{#         <div class="inputPackage" v-cloak>#}
{#             <span v-cloak>請選擇文件</span>#}
{#             <input v-cloak type="file" id="upload" ref="file" @change="updateFile(event)" v-model="excelFile">#}
{#         </div>#}
{#         <el-button @click="fileUpload" type="warning" style="height:40px" v-cloak> Excel上傳</el-button>#}
{#         <span class="showFileName" v-cloak >${ fileName }</span>#}
{#    </div>#}

     <el-dialog :title="dialogTitle" :visible.sync="dialogVisible" :close-on-click-modal="false" width="80%">
        <template>
            <el-form ref="form"  :model="form" :rules="rules" label-width="100px" style="width: 100%">
                  <!-- 大项选择 -->
                    <el-form-item label="大项">
                      <el-select
                        v-model="form.Category"
                        placeholder="请选择大项"
                        @change="handleCategoryChange"
                      >
                        <el-option
                          v-for="item in Categorys"
                          :key="item.id"
                          :label="item.name"
                          :value="item.id"
                        />
                      </el-select>
                    </el-form-item>

                    <!-- 细项选择 -->
                    <el-form-item label="细项">
                      <el-select
                        v-model="form.Product_Type"
                        placeholder="请先选择大项"
                        :disabled="!SubCategorys.length"
                      >
                        <el-option
                          v-for="item in SubCategorys"
                          :key="item.id"
                          :label="item.name"
                          :value="item.id"
                        />
                      </el-select>
                    </el-form-item>
                  <el-form-item label="Name" prop="Name" style="width: 100%;">
                      <el-input  v-model="form.Name" ></el-input>
                  </el-form-item>
                  <el-form-item label="號碼" prop="Num" style="width: 100%;">
                      <el-input  v-model="form.Num" ></el-input>
                  </el-form-item>
                  <el-form-item label="廠商" prop="Manufacturer" style="width: 100%;">
                      <el-input  v-model="form.Manufacturer" ></el-input>
                  </el-form-item>
                  <el-form-item label="費用(CNY)" prop="Cost" style="width: 100%;">
                      <el-input  v-model="form.Cost" @input="handleFloatInput"></el-input>
                  </el-form-item>
                  <el-form-item label="賬號" prop="Account" style="width: 100%;">
                      <el-input  v-model="form.Account" ></el-input>
                  </el-form-item>
                  <el-form-item label="密碼" prop="PW" style="width: 100%;">
                      <el-input  v-model="form.PW" ></el-input>
                  </el-form-item>
                  <el-form-item label="購買日期" prop="Purchasing_Date" style="width: 100%;">
                      <el-date-picker
                         v-model="form.Purchasing_Date"
                         type="date"
                         value-format="yyyy-MM-dd"
                         placeholder="选择日期">
                      </el-date-picker>
                  </el-form-item>
                  <el-form-item label="部別" prop="Department" style="width: 100%;">
                      <el-input  v-model="form.Department" ></el-input>
                  </el-form-item>
                  <el-form-item label="位置" prop="Location" style="width: 100%;">
                      <el-input  v-model="form.Location" ></el-input>
                  </el-form-item>
                  <el-form-item label="資產編號" prop="Asset_Num"style="width: 100%;">
                      <el-input  v-model="form.Asset_Num" ></el-input>
                  </el-form-item>
                  <el-form-item label="狀態" prop="Status" style="width: 100%;">
                      <el-select v-model="form.Status" placeholder="请选择">
                            <el-option
                                v-for="item in StatusOptions"
                                :key="item"
                                :label="item"
                                :value="item">
                            </el-option>
                      </el-select>
                  </el-form-item>
                  <el-form-item label="负责人" prop="Owner" style="width: 100%;">
                    <el-transfer
                      style="text-align: left; display: inline-block"
                      v-model="selectedKeys"
                      filterable
                      :left-default-checked="leftChecked"
                      :right-default-checked="rightChecked"
                      :titles="['人员名单', '负责人']"
                      :button-texts="['到左边', '到右边']"
                      :format="{
                        noChecked: '${total}',
                        hasChecked: '${checked}/${total}'
                      }"
                      @change="handleChange"
                      :data="this.OwnersOptions"
                    :props="{
                        key: 'account',
                        label: 'username'
                      }"
                    >
                        <span slot-scope="{ option }">${ option.username } - ${ option.account }</span>
                      <el-button class="transfer-footer" slot="left-footer" size="small">操作</el-button>
                      <el-button class="transfer-footer" slot="right-footer" size="small">操作</el-button>
                    </el-transfer>
                  </el-form-item>
                <el-form-item label="郵件地址" prop="Mail" style="width: 100%;">
                      <el-input  v-model="form.Mail" :disabled="true"></el-input>
                  </el-form-item>
                  <el-form-item label="聯係方式" prop="Contact_info" style="width: 100%;">
                      <el-input  v-model="form.Contact_info" ></el-input>
                  </el-form-item>
                  <el-form-item label="comments" prop="Comments" style="width: 100%;">
                      <el-input  v-model="form.Comments" type="textarea"></el-input>
                  </el-form-item>
                <div class="el-form-item__content" style="margin-left: 220px;">
                  <el-form-item>
                        <el-button type="primary" @click="submitForm('form')">確定</el-button>
                  </el-form-item>
                </div>
             </el-form>
        </template>
    </el-dialog>

  <div class="tableAround">

    <el-input type="text" v-model="search" id="sh" placeholder="請輸入關鍵字搜索..."></el-input><br>
{#    <span  class="selectItem" v-cloak  v-if="showCustomer&&showDepartment&&showLesson">當前表格信息：${ showYear }/${ showCustomer }/${ showDepartment }/${ showLesson }/${ showGroupEmployees } </span>#}
    <el-table id="out-table"  ref="tableRef" height="700" border stripe :data="datas.slice((currentPage -1 )*pageSize,(currentPage)*pageSize)"
        style="min-width: 100%;border-radius: 10px"  @selection-change="handleSelectionChange" :row-key="getRowKeys"
        :header-cell-style="{'background-color':'#fafafa','font-weight':'800','border-bottom':'1px solid rgb(103, 194, 58)'}"
        v-loading="tableloading"
        element-loading-text="數據更新中，請稍後"
        border>
{#              <el-table-column type="selection" width="50" align="center" fixed></el-table-column>#}
              <el-table-column  v-if="this.permission == 1" label="Edit" align="center">
                  <template slot-scope="scope">
                      <el-button v-if="scope.row.Ownerflag" style="border:0;color: #D9B300" type="i" class="ti-pencil-alt"  @click="handleEdit(scope.row.id,scope.row)"></el-button>
                  </template>
              </el-table-column>
              <el-table-column type="index" :index="indexMethod" align="center"></el-table-column>
              <el-table-column  prop="Category" label="大项" width="90" align="center">
                  <template slot-scope="scope">
                      <span  >${ allCategorys[scope.row.Category] }</span>
                  </template>
              </el-table-column>
              <el-table-column  prop="Product_Type" label="细项" width="100" align="center">
                  <template slot-scope="scope">
                      <span  >${ allSubCategorys[scope.row.Product_Type] }</span>
                  </template>
              </el-table-column>
              <el-table-column  prop="Name" label="Name" width="100" align="center"></el-table-column>
              <el-table-column  prop="Num" label="號碼" width="180" align="center"></el-table-column>
              <el-table-column  prop="Manufacturer" label="廠商" width="80" align="center"></el-table-column>
              <el-table-column  prop="Cost" label="費用(CNY)" width="140" align="center"></el-table-column>
              <el-table-column  prop="Account" label="賬號" width="100" align="center"></el-table-column>
              <el-table-column  prop="PW" label="密碼" width="110" align="center">
                  <template slot-scope="scope">
                     <span  v-if="scope.row.Ownerflag || permission===1 && SSVIP_users===1">${ scope.row.PW }</span>
                     <span  v-else="scope.row.Ownerflag || permission===1 && SSVIP_users===1">******</span>
                  </template>
              </el-table-column>
              <el-table-column  prop="Purchasing_Date" label="購買日期" width="120" align="center"></el-table-column>
              <el-table-column  prop="Duration" label="年限" width="80" align="center"></el-table-column>
              <el-table-column  prop="Department" label="部別" width="100" align="center"></el-table-column>
              <el-table-column  prop="Location" label="位置" width="120" align="center"></el-table-column>
              <el-table-column  prop="Asset_Num" label="資產編號" width="100" align="center"></el-table-column>
              <el-table-column  prop="Status" label="狀態" width="100" align="center"></el-table-column>
              <el-table-column  prop="CreatedBy" label="创建人" width="100" align="center"></el-table-column>
              <el-table-column  prop="Owner" label="负责人" width="100" align="center">
                  <template slot-scope="scope">
                    <!-- 使用 div 循环，每个元素自然换行 -->
                    <div
                      v-for="(item, index) in scope.row.Owner"
                      :key="index"
                    >
                      ${ item.username } (${ item.account })
                    </div>
                  </template>
              </el-table-column>
              <el-table-column  prop="Mail" label="郵件地址" width="120" align="center"></el-table-column>
              <el-table-column  prop="Contact_info" label="聯係方式" width="100" align="center"></el-table-column>
              <el-table-column  prop="Comments" label="comments" align="center"></el-table-column>
    </el-table>
      <div class="block">
        <el-pagination  @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage" :page-sizes="[20, 50, 100, 200]" :page-size="pageSize" layout="total, sizes, prev, pager, next, jumper" :total="total_computed">
        </el-pagination>
      </div>
  </div>
  </div>
{% endblock %}
{% block scripts %}
<script src="/static/js/es6/polyfill.min.js"></script>
<script src="/static/js/es6/babel.min.js"></script>
<script src="/static/js/axios.min.js"></script>
<script src="/static/js/vue.min.js"></script>
<script src="/static/js/qs.js"></script>
<script src="/static/js/Element/index.js"></script>
<script src="/static/js/xlsx/FileSaver.min.js"></script>
<script src="/static/js/Element/table.js"></script>
<script src="/static/js/Element/main.js"></script>
<script src="/static/js/Element/input.js"></script>
<script src="/static/js/Element/table-column.js"></script>
<script src="/static/js/Element/icon.js"></script>
<script src="/static/js/Element/image.js"></script>
<script src="/static/js/Element/message.js"></script>
<script type="text/babel">
    new Vue({
        el: '#app',
        delimiters: ['${', '}'],
        data: function () {
            // 自定义浮点数验证规则
                const validateFloat = (rule, value, callback) => {
                  if (value === '') {
                    callback(new Error('请输入浮点数'));
                  } else if (!/^-?\d*\.?\d+$/.test(value)) {
                    callback(new Error('请输入有效的浮点数'));
                  } else {
                    callback();
                  }
                };
            return {
                allCategorys:{}, //将表格中的大类的id映射显示为name
                allSubCategorys:{},//将表格中的细项的id映射显示为name
                Categorys: [],  //级联下拉选项的所有值
                SubCategorys: [], // 动态细项列表
                selectedKeys: [], //["C1010S3"] 初始已选到右侧的账户（右侧默认显示 user003）
                leftChecked: [],  //["C1010S3"] 左侧默认选中 user001（但未移动到右侧）
                rightChecked: [], //["C1010S3"] 右侧默认选中 user003（已移动到右侧）
                search:'',
                Owner: '',
                number: '',
                sectionOwner: [],
                loading:false,
                categoryOptions:[],
                ProductTypeOptions:[],
                StatusOptions:[],
                datatype:'',
                category1:'',
                editpermission: 0,
                permission: 0,
                SSVIP_users: 0,
                tableContent:[],
                update:false,
                dialogVisible:false,
                dialogTitle: '添加数据',
                isEdit: false, // 标识当前是编辑还是新增
                ID:"",
                labelPosition:'right',
                tableloading: false,
                elbuttonloading: false,
                form: {
                    Category: '',
                    Product_Type: '',
                    Name: '',
                    Num: '',
                    Manufacturer: '',
                    Cost: '',
                    Account: '',
                    PW: '',
                    Purchasing_Date: '',
                    Department: '',
                    Location: '',
                    Asset_Num: '',
                    Status: '',
                    CreatedBy: '',
                    Owner: [],
                    Mail: [],
                    Contact_info: '',
                    Comments: '',

                },

                formData:[],
                editID: '',
                multiDeleteVisible:false,
                multipleSelection: [],
                //表格信息顯示
                showCustomer:'',
                showDepartment:'',
                //新增信息
                appendss:false,
                //分页
                currentPage: 1,//默认显示第一页
                pageSize:20,//默认每页显示100条
                totalNum: null,
                errMsg:null,
                 rules: {
                        Cost: [
                          { required: true, validator: validateFloat, trigger: 'blur' }
                        ],
                      Category: [
                         { required: true, message: "不能為空", trigger:['blur','change'] }
                      ],
                      Product_Type: [
                         { required: true, message: "不能為空", trigger:['blur','change'] }
                      ],
                      Name: [
                         { required: true, message: "不能為空", trigger:['blur','blur'] }
                      ],
                      Num: [
                         { required: true, message: "不能為空,可以用NA", trigger:['blur','blur'] }
                      ],
                     Manufacturer: [
                         { required: true, message: "不能為空,可以用NA", trigger:['blur','blur'] }
                      ],
                     Account: [
                         { required: true, message: "不能為空,可以用NA", trigger:['blur','blur'] }
                      ],
                     PW: [
                         { required: true, message: "不能為空,可以用NA", trigger:['blur','blur'] }
                      ],
                     Purchasing_Date: [
                         { required: true, message: "不能為空", trigger:['blur','blur'] }
                      ],
                     Department: [
                         { required: true, message: "不能為空", trigger:['blur','blur'] }
                      ],
                     Location: [
                         { required: true, message: "不能為空", trigger:['blur','blur'] }
                      ],
                     Asset_Num: [
                         { required: true, message: "不能為空,可以用NA", trigger:['blur','blur'] }
                      ],
                     Status: [
                         { required: true, message: "不能為空", trigger:['blur','blur'] }
                      ],
                    },


            }
        },
        mounted(){        // 页面渲染后触发该区域内容 即页面初始化
            this.getdata("first");
        },
        methods: {
            //获取数据
            getdata: function (e) {
                this.elbuttonloading = true;
                this.tableloading = true;
                let data = {"isGetData": e, "csrfmiddlewaretoken": $("[name='csrfmiddlewaretoken']").val()};
                axios.post("/CommonDevice/CommonDevice_edit/", Qs.stringify(data), {
                    headers: {'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8'}
                }).then((res) => {
                    this.yearOptions = res.data.yearOptions;
                    this.sectionOwner=res.data.sectionOwner;
                    this.categoryOptions = res.data.categoryOptions;
                    this.ProductTypeOptions = res.data.ProductTypeOptions;
                    this.StatusOptions = res.data.StatusOptions;
                    this.classOptions = res.data.classOptions;
                    this.selectDevice = res.data.DeviceOptions;
                    this.OwnersOptions = res.data.OwnersOptions;//人员名单
                    this.permission = res.data.permission;
                    this.SSVIP_users = res.data.SSVIP_users;
                    this.Categorys = res.data.selectItem;
                    this.allSubCategorys = res.data.allSubCategorys;
                    this.allCategorys = res.data.allCategorys;
                    this.tableContent=res.data.content;
                    this.totalNum = this.tableContent.length;
                    this.elbuttonloading = false;
                    this.tableloading = false;
                    this.$nextTick(() => {
                       this.$refs.tableRef.doLayout()
                    })
                 });
            },

          handleChange(value, direction, movedKeys) {
            console.log(value, direction, movedKeys,'movedKeys');
          },

            handleFloatInput(value) {
              this.form.Cost = value
                .replace(/[^0-9.-]/g, '')           // 保留数字、小数点和负号
                .replace(/(\..*)\./g, '$1')          // 禁止多个小数点
                .replace(/(?!^)-/g, '')              // 只能有一个负号且在开头
                .replace(/^(-)?0+(\d)/, '$1$2');    // 禁止前导零（可选）
            },

          createFilter(queryString) {
            return (state) => {
              return (state.value.toLowerCase().indexOf(queryString.toLowerCase()) === 0);
            };
          },

          querySearch(queryString,cb) {
                var sectionOwner = this.sectionOwner;
                //console.log(queryString,'p1');
                var results = queryString ? sectionOwner.filter(this.createFilter(queryString)) : sectionOwner;
                // 调用 callback 返回建议列表的数据
                cb(results);
           },

          handleSelect(item) {
            this.number = item.number;
            {#console.log(this.number, 'this.number');#}
          },

            // 添加按钮点击
            handleAdd() {
                this.isEdit = false;
                  this.dialogTitle = '添加数据';
                  this.resetForm();
                  this.selectedKeys = [];
                this.dialogVisible=true;
            },

            // 编辑按钮点击
            handleEdit:function(id,row){
                this.resetForm();
                this.selectedKeys = row.Owner.map(item => item.account);
                //console.log(this.selectedKeys,'this.selectedKeys');
                this.isEdit = true;
                  this.dialogTitle = '编辑数据';
                  this.dialogVisible = true;
                 {% comment %}this.form.Category=row.Category;
                 this.form.Product_Type=row.Product_Type;{% endcomment %}
                // 先设置大项
                  this.form.Category = row.Category;

                  // 手动触发分类变化来加载对应的细项
                  this.handleCategoryChange(row.Category);

                  // 短暂延迟确保SubCategorys已更新
                  this.$nextTick(() => {
                      this.form.Product_Type = row.Product_Type;
                      this.form.Name = row.Name;
                      this.form.Num = row.Num;
                      this.form.Manufacturer = row.Manufacturer;
                      this.form.Cost = row.Cost;
                      this.form.Account = row.Account;
                      this.form.PW = row.PW;
                      this.form.Purchasing_Date = row.Purchasing_Date;
                      this.form.Department = row.Department;
                      this.form.Location = row.Location;
                      this.form.Asset_Num = row.Asset_Num;
                      this.form.Status = row.Status;
                      //this.form.Owner=row.Owner;
                      this.form.Mail = row.Mail;
                      this.form.Contact_info = row.Contact_info;
                      this.form.Comments = row.Comments;
                      this.editID = id;
                  })

            },

            handleCategoryChange(CategoryId) {
              // 清空已选细项
              this.form.Product_Type = ''
              // 查找对应大项的细项列表
              const selectedCategory = this.Categorys.find(
                item => item.id === CategoryId
              )
              this.SubCategorys = selectedCategory ? selectedCategory.SubCategorys : []
            },

            // 提交表单
            submitForm() {
              this.$refs.form.validate(valid => {
                if (valid) {
                  if (this.isEdit) {
                    // 执行编辑操作
                    this.updateData()
                  } else {
                    // 执行新增操作
                    this.addData()
                  }
                  this.dialogVisible = false
                }
              })
            },

            async  addData(){
                    if (this.formData.length === 0) {
                        this.formData = new FormData();
                    }
                    this.formData.append('searchCategory', this.$refs.Category.value)
                    this.formData.append('searchOwner', this.$refs.Owner.value)
                    this.formData.append('Category', this.$refs.form.model.Category)
                    this.formData.append('Product_Type', this.$refs.form.model.Product_Type)
                    this.formData.append('Name', this.$refs.form.model.Name)
                    this.formData.append('Num', this.$refs.form.model.Num)
                    this.formData.append('Manufacturer', this.$refs.form.model.Manufacturer)
                    this.formData.append('Cost', this.$refs.form.model.Cost)
                    this.formData.append('Account', this.$refs.form.model.Account)
                    this.formData.append('PW', this.$refs.form.model.PW)
                    this.formData.append('Purchasing_Date', this.$refs.form.model.Purchasing_Date)
                    this.formData.append('Department', this.$refs.form.model.Department)
                    this.formData.append('Location', this.$refs.form.model.Location)
                    this.formData.append('Asset_Num', this.$refs.form.model.Asset_Num)
                    this.formData.append('Status', this.$refs.form.model.Status)
                    this.formData.append('Owner', JSON.stringify(this.selectedKeys))
                    this.formData.append('Mail', this.$refs.form.model.Mail)
                    this.formData.append('Contact_info', this.$refs.form.model.Contact_info)
                    this.formData.append('Comments', this.$refs.form.model.Comments)
                    this.formData.append("action", 'addData');
                    await axios.post("/CommonDevice/CommonDevice_edit/", this.formData, {
                        headers: {
                            'Content-Type': 'multipart/form-data',
                            'X-CSRFToken': $("[name='csrfmiddlewaretoken']").val()
                        } //改变头格式，原生默认上传json格式

                    }).then((res) => {
                        this.tableContent = res.data.content;
                        this.totalNum = this.tableContent.length;
                        this.$nextTick(() => {
                           this.$refs.tableRef.doLayout()
                        })
                        this.errMsg=res.data.errMsg;
                        this.formData = new FormData();
                        if(this.errMsg){
                          this.$alert(this.errMsg, '提示', {
                                type: 'warning',
                          });
                          this.dialogVisible = true;
                        }else{
                          try {
                                  this.$refs.form.resetFields();
                          } catch (e) {

                          }
                          this.dialogVisible = false;
                          this.$nextTick(() => {
                                this.$refs.tableRef.doLayout()
                          })
                        }

                    })
            },


            async  updateData() {
                    if (this.formData.length === 0) {
                        this.formData = new FormData();
                    }
                    this.formData.append('searchCategory', this.$refs.Category.value)
                    this.formData.append('searchOwner', this.$refs.Owner.value)
                    this.formData.append('ID', this.editID)
                    this.formData.append('Category', this.$refs.form.model.Category)
                    this.formData.append('Product_Type', this.$refs.form.model.Product_Type)
                    this.formData.append('Name', this.$refs.form.model.Name)
                    this.formData.append('Num', this.$refs.form.model.Num)
                    this.formData.append('Manufacturer', this.$refs.form.model.Manufacturer)
                    this.formData.append('Cost', this.$refs.form.model.Cost)
                    this.formData.append('Account', this.$refs.form.model.Account)
                    this.formData.append('PW', this.$refs.form.model.PW)
                    this.formData.append('Purchasing_Date', this.$refs.form.model.Purchasing_Date)
                    this.formData.append('Department', this.$refs.form.model.Department)
                    this.formData.append('Location', this.$refs.form.model.Location)
                    this.formData.append('Asset_Num', this.$refs.form.model.Asset_Num)
                    this.formData.append('Status', this.$refs.form.model.Status)
                    this.formData.append('Owner', JSON.stringify(this.selectedKeys))
                    this.formData.append('Mail', this.$refs.form.model.Mail)
                    this.formData.append('Contact_info', this.$refs.form.model.Contact_info)
                    this.formData.append('Comments', this.$refs.form.model.Comments)
                    this.formData.append("action", 'update');
                    await axios.post("/CommonDevice/CommonDevice_edit/", this.formData, {
                        headers: {
                            'Content-Type': 'multipart/form-data',
                            'X-CSRFToken': $("[name='csrfmiddlewaretoken']").val()
                        } //改变头格式，原生默认上传json格式
                    }).then((res) => {
                        this.tableContent = res.data.content;
                        this.totalNum = this.tableContent.length;
                        this.$nextTick(() => {
                           this.$refs.tableRef.doLayout()
                        })
                        this.errMsg=res.data.errMsg;
                        this.resetForm();
                        if(this.errMsg){
                          this.$alert(this.errMsg, '提示', {
                                type: 'warning',
                          });
                          this.update = true;
                        }else{
                          try {
                                  this.$refs.form1.resetFields();
                          } catch (e) {

                          }
                          this.update = false;
                          this.$nextTick(() => {
                                this.$refs.tableRef.doLayout()
                          })
                        }

                    })
            },

            // 重置表单
            resetForm() {
              this.form = {
                    Category: '',
                    Product_Type: '',
                    Name: '',
                    Num: '',
                    Manufacturer: '',
                    Cost: '',
                    Account: '',
                    PW: '',
                    Purchasing_Date: '',
                    Department: '',
                    Location: '',
                    Asset_Num: '',
                    Status: '',
                    Owner: [],
                    Contact_info: '',
                    Comments: '',

                };
              if (this.$refs.form) {
                this.$refs.form.resetFields()
              }
            },

            exportExcel: function () {
             /* 从表生成工作簿对象 */
             {#console.log(document.querySelector("#out-table"));#}
             let temp = [];
             temp.push(Number(this.currentPage));
             temp.push(Number(this.pageSize));
             {#console.log(temp);#}
             this.currentPage = 1;
             this.pageSize = this.tableContent.length;
             {#console.log(temp, this.defaultPage1, this.pageSize);#}
             setTimeout(() => {
                 let table = document.querySelector("#out-table").cloneNode(true);
                 let fix = table.querySelector(".el-table__fixed");
                 let wb;
                 if(fix){
                    wb = XLSX.utils.table_to_book(table.removeChild(fix),{raw: true});
                    table.appendChild(fix);
                 }else{
                    wb = XLSX.utils.table_to_book(table,{raw: true});
                 }
                 console.log("wb", wb);
                 /* 获取二进制字符串作为输出 */
                 var wbout = XLSX.write(wb, {
                     bookType: "xlsx",
                     bookSST: true,
                     type: "array"
                 });
                 console.log("wbout", wbout);
                 try {
                     saveAs(
                         //Blob 对象表示一个不可变、原始数据的类文件对象。
                         //Blob 表示的不一定是JavaScript原生格式的数据。
                         //File 接口基于Blob，继承了 blob 的功能并将其扩展使其支持用户系统上的文件。
                         //返回一个新创建的 Blob 对象，其内容由参数中给定的数组串联组成。
                         new Blob([wbout], {type: "application/octet-stream"}),
                         //设置导出文件名称
                         "sheetjs.xlsx"
                     );

                 } catch (e) {
                     if (typeof console !== "undefined") console.log(e, wbout);
                 }
                 this.currentPage = temp[0];
                 this.pageSize = temp[1];//edwin:要想导出后回到当前页而不是第一页，<el-pagination里面的:page-size="100"，而不能是:page-size="pageSize"
                 temp = [];
                 return wbout;
             }, 100);
         },


            //上传搜索项：以此选项搜索符合条件的内容
            find:function(){

                this.elbuttonloading = true;
                this.tableloading = true;
                let Category = this.$refs.Category.value;
                let Owner = this.$refs.Owner.value;
                let OwnerNumber = this.number;
                let data ={"isGetData":"SEARCH","Category":Category,"Owner":Owner,"OwnerNumber": OwnerNumber,"csrfmiddlewaretoken":$("[name='csrfmiddlewaretoken']").val()}
                axios.post("/CommonDevice/CommonDevice_edit/",Qs.stringify(data), {
                headers:{ 'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8'}
                }).then((res) => {
                  this.tableContent=res.data.content;
                  this.totalNum=this.tableContent.length;
                  this.permission=res.data.permission;
                  this.SSVIP_users=res.data.SSVIP_users;
                  this.Categorys=res.data.selectItem;
                  this.elbuttonloading = false;
                  this.tableloading = false;
                  this.yearOptions = res.data.yearOptions;
                  this.categoryOptions = res.data.categoryOptions;
                  this.classOptions = res.data.classOptions;
                  this.$nextTick(() => {
                       this.$refs.tableRef.doLayout()
                  })
                })

             },


            indexMethod(index) {
                  return index +1;
            },

            handleSelectionChange(rows) {
                this.multipleSelection = rows;
            },

            getRowKeys (row) {
              return row.id
            },


            updateFile:function(e){
                const first="未選擇文件";
                let newValue= e.target.files;
                if(newValue){
                 let file=document.getElementById('upload');
                 let filename= file.files[0].name;
                 let fileType=filename.substr(filename.lastIndexOf(".")+1);
                 console.log(fileType.toLowerCase());
                 if((fileType.toLowerCase() === 'xlsx')||(fileType.toLowerCase() === 'xls')){
                      //console.log(this.excelFile);
                     this.fileName=filename;
                     this.uploadFile=file.files[0];
                 }else{
                     alert("上傳類型不為'xlsx'或'xls'");
                       try{
                         }catch(e){
                             console.log(e);
                         }
                 }
             }else{
                 this.uploadFile=null;
                 this.fileName=first;
             }
      },
            fileUpload:function(){
              const first="未選擇文件";
              if(this.uploadFile){
                  //1.解析Excel
                   let outputResult;
                   let _this= this;
                   let files = this.uploadFile;
                   let undefined_to_null=function(value){
                       if(value === undefined){
                           value=null;
                       }
                       //console.log(value,value === undefined,value == undefined);
                       return value;
                   }
                   var fileReader = new FileReader ();
                   const loading = this.$loading({
                              lock: true,
                              text: 'Loading',
                              spinner: 'el-icon-loading',
                              background: 'rgba(0,0,0,0.7)'
                   });
                   fileReader.onload = function (ev) {
                     try {
                    // _this.loading=true;
                     var data = ev.target.result,
                      workbook = XLSX.read(data, {
                        type: 'binary'
                     }), // 以二进制流方式读取得到整份excel表格对象
                      persons = []; // 存储获取到的数据
                   } catch (e) {
                     //_this.loading=false;
                         loading.close();
                     return;
                  }
                  for (var sheet in workbook.Sheets) {
                    if (workbook.Sheets.hasOwnProperty(sheet)) {
                        var fromTo = workbook.Sheets[sheet]['!ref'];
                        // console.log(fromTo);
                        var datas = workbook.Sheets[sheet];
                        // 如果有不规范数据可以在这里进行处理datas
                        persons = persons.concat(XLSX.utils.sheet_to_json(datas));
                        //break; // 只读了第一张表
                    }
            }
                 // 数据保存在result
                  let result=JSON.stringify(persons);
                   //将之前张开的树形结构收起
                      //_this.reset();
                   //2.上傳數據
                  let Category = _this.$refs.Category.value;
                  let Class = _this.$refs.Class.value;
                  axios.post("/CommonDevice/CommonDevice_edit/" ,{"isGetData":"upload","searchCategory":Category,"searchClass":Class,"ExcelData":result},{
                  headers:{ 'X-CSRFToken':$("[name='csrfmiddlewaretoken']").val()} //改变头格式，原生默认上传json格式 ==>'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8',
                }).then((res) => {
                    //console.log(res.data,"first");//上传成功的操作
                        _this.tableContent=res.data.content;
                        _this.totalNum=_this.tableContent.length;
                        _this.$nextTick(() => {
                           _this.$refs.tableRef.doLayout()
                        })
                        _this.errMsg=res.data.errMsg;
                        _this.permission=res.data.permission;
                        _this.yearOptions = res.data.yearOptions;
                        _this.categoryOptions = res.data.categoryOptions;
                        _this.classOptions = res.data.classOptions;
                        _this.datatypeOption = res.data.datatypeOption;
                        _this.uploadFile=null;
                        _this.fileName=first;
                   //_this.loading=false;
                        loading.close();
                    //上传成功的操作
                        if(_this.errMsg){
                            _this.$alert(_this.errMsg, '提示', {
                                  type: 'warning',
                                })
                        }else {
                            _this.$message({
                                message: '上傳成功',
                                type: 'success',
                            })
                        }
                    //接受数据的初始化
                    try{
                    }catch(e)
                    {
                       console.log("错误异常"+e);
                    }
                }).catch(function (e) {
                        //_this.loading=false;
                        loading.close();
                        _this.uploadFile=null;
                        var warning =confirm("上傳異常");
                        console.log("上傳錯誤信息"+e);
                    });
           };
                   try{
                   //console.log(fileReader.onload());
                   fileReader.readAsBinaryString(files);
                   //console.log(fileReader.readAsBinaryString(files));
                   }
                   catch(e){
                         //this.loading=false;
                       loading.close();
                         console.log(e);
                         alert("文件上傳異常");
                         return;
                    }
                  //console.log(outputResult);

             }else{
              //this.loading=false;
                  loading.close();
              alert("未選擇文件");
              return false;
          }
              this.excelFile='';
      },


            //分页
            handleSizeChange(val) {
                  //console.log(`每页 ${val} 条`);
                    this.pageSize = val;
            },
            handleCurrentChange(val) {
                //console.log(`当前页: ${val}`);
                  this.currentPage = val;
                  //console.log(this.tableContent.slice((this.currentPage-1)*this.pageSize,this.currentPage*this.pageSize));
            },

        },
        computed:{
                datas(){//必须是el-table里面绑定的数据变量,不能与axios接受的变量名一样
                    //console.log(111)
                    const search=this.search;
                    if(search){
                        return this.tableContent.filter(data=>{//axios返回时接受数据的变量
                            return Object.keys(data).some(key=>{
                                return String(data[key]).toLowerCase().indexOf(search.toLowerCase())>-1
                            })
                        })
                    }
                    return this.tableContent//axios返回时接受数据的变量
                },
                total_computed () {
                    this.Totalsize = this.datas.length;//edwin:export数据的个数
                    console.log(this.Totalsize);
                    return this.datas.length//必须是el-table里面绑定的数据变量
                }
            },
    })
    </script>
{% endblock %}





