{% extends 'base.html' %}
{#{% load custom_tag %}#}
{% load staticfiles %}
{% block title %}Navigations{% endblock %}
{% block css %}
    {#    <link rel="stylesheet" href="/static/css/home_zerogrid.css">#}
    {#	<link rel="stylesheet" href="/static/css/home_style.css">#}
    {#	<link rel="stylesheet" href="/static/css/home_menu.css">#}
    <style>
        tbody tr td:last-child {
            text-align: left;
        }

        /*style.css：2714中设置最后一列是right*/
        .el-carousel__item h3 {
            color: #475669;
            font-size: 14px;
            opacity: 0.75;
            line-height: 150px;
            margin: 0;
        }

        .el-carousel__item:nth-child(2n) {
            background-color: #99a9bf;
        }

        .el-carousel__item:nth-child(2n+1) {
            background-color: #d3dce6;
        }

        .home .num {
            display: flex;
        {% comment %}/ / 开启弹性元素换行{% endcomment %} flex-wrap: wrap;
        {% comment %}/ / justify: 设置主轴上空白空间元素排列方式 justify-content: space-between;{% endcomment %}
            min-height: 120px;
            align-items: center; /* 垂直居中 */
            justify-content: center; /* 水平居中，如果也需要水平居中的话 */
            background-color: oldlace;
        }

        .home .num .el-card {
            margin-bottom: 20px;
            background-color: #f7e1b5;
        }

        .detail {
                {#background-color: #1a237e;#}
        }

        button, html [type=button] {
            -webkit-appearance: button;
            width: 32%;
            margin-bottom: 20px;
        }

        .home .graph {
            display: flex;
        {% comment %}justify: 设置主轴上空白空间元素排列方式{% endcomment %} justify-content: space-between;

        }

        .home .graph .el-card {
            width: 48%;
            margin-top: 20px;
        }

        .el-calendar-table .el-calendar-day {
            width: 30px;
            height: 30px;
        }

        *, ::after, ::before {
            box-sizing: border-box;
            font-size: 10px;
        }

        .el-button + .el-button {
            margin-left: 0px;
        }

    </style>
{% endblock %}
{% block content1 %}
                <div class="row" style="height: 30px">
                    <div class="col-lg-6 p-r-0 title-margin-right" style="height: 100%">
                        <div class="page-header" style="height: 100%;margin: 0.2px">
                            <div class="page-title" style="height: 100%">
                                <h1 style="color: #FFF;height: 100%;padding: 1px">Hello {{ request.session.user_name }}, Welcome Here</h1>
                            </div>
                        </div>
                    </div>
                    <!-- /# column -->
                    <div class="col-lg-5 p-l-0 title-margin-left" style="height: 100%">
                        <div class="page-header" style="height: 100%;margin: 0.2px">
                            <div class="page-title" style="height: 100%">
                                <ol class="breadcrumb" style="height: 100%;padding: 1px">
                                    <li class="breadcrumb-item"><a style="color: #FFF;height: 40px;padding: 1px" href="/Navigations/">{{ weizhi }}</a></li>
                                    {% comment %}<li class="breadcrumb-item active" style="color: #FFF"></li>{% endcomment %}
                                </ol>
                            </div>
                        </div>
                    </div>
                    <!-- /# column -->
                </div>{% endblock %}
{% block content %}

    <div id="app" {% comment %}v-pre{% endcomment %}>
        <template>
            <el-row class="home" style="margin-top: 10px;height: 500px" :gutter="20">
                <!-- 两栏一共是24栏，左侧占用8栏，右侧占用16栏 -->
                <!-- 首页左侧空间 -->

                <el-col :span="24">
                    <div class="num">
                        <!-- 数据卡片card -->
                        <el-button @click="drawer = true">
{#                            <a href="/Navigations_quality/" {% comment %}target="_blank"{% endcomment %}>#}
                            <a @click="fetchData('DepartmentManage')">
                            <el-card shadow="hover">
                                <!-- 数据卡片icon -->
                                <i class="icon"></i>
                                <!-- 数据卡片内容 -->
                                <div class="detail">
                                    <p class="num" style="font-size:24px">部門管理</p>
                                    <p class="tet" style="text-align: center">系統清單</p>
                                </div>
                            </el-card>
                                </a>
                        </el-button>
                        <el-button @click="table = true">
                            <a @click="fetchData('TestManage')">
                            <el-card shadow="hover">
                                <!-- 数据卡片icon -->
                                <i class="icon"></i>
                                <!-- 数据卡片内容 -->
                                <div class="detail">
                                    <p class="num" style="font-size:24px">測試管理</p>
                                    <p class="tet" style="text-align: center">系統清單</p>
                                </div>
                            </el-card>
                                </a>
                        </el-button>
                        <el-button @click="table = true">
                            <a @click="fetchData('TestTool')">
                            <el-card shadow="hover">
                                <!-- 数据卡片icon -->
                                <i class="icon"></i>
                                <!-- 数据卡片内容 -->
                                <div class="detail">
                                    <p class="num" style="font-size:24px">測試工具</p>
                                    <p class="tet" style="text-align: center">系統清單</p>
                                </div>
                            </el-card>
                            </a>
                        </el-button>
                        <el-button @click="table = true">
                            <a @click="fetchData('QualityManage')">
                            <el-card shadow="hover">
                                <!-- 数据卡片icon -->
                                <i class="icon"></i>
                                <!-- 数据卡片内容 -->
                                <div class="detail">
                                    <p class="num" style="font-size:24px">品質管控</p>
                                    <p class="tet" style="text-align: center">系統清單</p>
                                </div>
                            </el-card>
                            </a>
                        </el-button>
                        <el-button @click="table = true">
                            <a @click="fetchData('AssetsManage')">
                            <el-card shadow="hover">
                                <!-- 数据卡片icon -->
                                <i class="icon"></i>
                                <!-- 数据卡片内容 -->
                                <div class="detail">
                                    <p class="num" style="font-size:24px">資產管理</p>
                                    <p class="tet" style="text-align: center">系統清單</p>
                                </div>
                            </el-card>
                            </a>
                        </el-button>
                        <el-button @click="table = true">
                            <a @click="fetchData('Others')">
                            <el-card shadow="hover">
                                <!-- 数据卡片icon -->
                                <i class="icon"></i>
                                <!-- 数据卡片内容 -->
                                <div class="detail">
                                    <p class="num" style="font-size:24px">其他</p>
                                    <p class="tet" style="text-align: center">系統清單</p>
                                </div>
                            </el-card>
                            </a>
                        </el-button>
                    </div>

                </el-col>

            </el-row>
        </template>

        {% comment %}<el-drawer
                size="90%"
                title="部門管理類"
                :visible.sync="drawer"
                :with-header="false">

            <span>
            <el-table :data="gridData_chan">
                <el-table-column property="name" label="LNV" width="150">
                    <template scope="scope">
                        <el-popover trigger="hover" placement="top">
                          <p>${ scope.row.Comment }</p>
                          <p>住址: ${ scope.row.address }</p>
                          <div slot="reference" class="name-wrapper">
                              <a :href="scope.row.address" target="_blank"
                                 style="text-decoration:underline;color:blue;">
                            <el-tag size="medium">${ scope.row.name }</el-tag>
                                  </a>
                          </div>
                        </el-popover>
                    </template>
                </el-table-column>
                <el-table-column property="name2" label="" width="150" align="left">
                    <template scope="scope">
                        <el-popover trigger="hover" placement="top">
                          <p>${ scope.row.Comment2 }</p>
                          <p>住址: ${ scope.row.address2 }</p>
                          <div slot="reference" class="name-wrapper">
                              <a :href="scope.row.address" target="_blank"
                                 style="text-decoration:underline;color:blue;">
                            <el-tag size="medium">${ scope.row.name2 }</el-tag>
                                  </a>
                          </div>
                        </el-popover>
                    </template>
                </el-table-column>
                <el-table-column width="120" label="修改" fixed="right">
                  <template slot-scope="scope">
                      <el-button type="text" size="small" @click="edit(scope.row+scrollArray[0])">編輯</el-button>
                      </template>
              </el-table-column>
            </el-table>
            </span>
        </el-drawer>{% endcomment %}
    </div>
{% endblock %}
{% block scripts %}


    <script src="/static/js/lib/calendar-2/moment.latest.min.js"></script>
    <!-- scripit init-->
    <script src="/static/js/lib/calendar-2/semantic.ui.min.js"></script>
    <!-- scripit init-->
    <script src="/static/js/lib/calendar-2/prism.min.js"></script>
    <!-- scripit init-->
    <script src="/static/js/lib/calendar-2/pignose.calendar.min.js"></script>
    <!-- scripit init-->
    <script src="/static/js/lib/calendar-2/pignose.init.js"></script>
    <!-- scripit init-->
    <script src="/static/js/lib/bootstrap.min.js"></script>
    <script src="/static/js/scripts.js"></script>
    <script src="/static/js/es6/polyfill.min.js"></script>
    <script src="/static/js/es6/babel.min.js"></script>
    <script src="/static/js/axios.min.js"></script>
    <script src="/static/js/vue.min.js"></script>
    <script src="/static/js/qs.js"></script>
    <script src="/static/js/Element/table.js"></script>
    <script src="/static/js/Element/main.js"></script>
    <script src="/static/js/Element/input.js"></script>
    <script src="/static/js/Element/table-column.js"></script>
    <script src="/static/js/Element/icon.js"></script>
    <script src="/static/js/Element/index.js"></script>
    <script src="/static/js/Element/image.js"></script>
    <script src="/static/js/Element/message.js"></script>
    {#<script src="/static/js/vue-router.min.js"></script>#}
    {% comment %}<script src="/static/js/vue-router.js"></script>{% endcomment %}
    <script type="text/babel">
        new Vue({
            el: "#app",
            delimiters: ['${', '}'],
            data() {
                return {
                    grid_data_Category: [


                    ],
                }
            },
            mounted() {

            },
            methods: {
                fetchData(param) {
                    axios.get(`/Navigations_Category/${param}/`)
                        .then(response => {
                            // 处理响应数据
                            window.location.href="/Navigations_Category/" + param + '/';

                            // 当前页面不会关闭，新页面会在新标签页中打开
                            {#window.open("/Navigations_Category/" + param + '/', '_blank');#}
                            console.log(response.data);
                        })
                        .catch(error => {
                            // 处理错误情况
                            console.error(error);
                        });
                }
            }
        })
    </script>
{% endblock %}
